            .dropbtn {
                background-color: DarkSlateBlue;
                color: white;
                padding-top: auto;
                padding-bottom: auto;
                padding-left: 16px;
                padding-right: 16px;
                font-size: 16px;
                border: none;
            }
            .dropdown {
                position: relative;
                display: inline-flex;
            }
            .dropdown-content {
                display: none;
                font-family: Win95;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: LavenderBlush;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            .dropdown-content a:hover {background-color: #ddd;}

            .dropdown:hover .dropdown-content {display: block;}

            .dropdown:hover .dropbtn {background-color: #372f6a;}
