
@font-face {
    font-family: 'Sysfont';
    src: url('fonts/sysfont.woff2') format('woff2'),
    url('fonts/sysfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Win95';
    src: url('fonts/w95fa.woff2') format('woff2'),
    url('fonts/w95fa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}
footer{
    background-color: DarkSlateBlue;
    font-family: Win95;
    height: 32px;
}
h1{
	display: inline-flex;
    margin-top: auto;  
    margin-bottom: auto;
    margin-left: 12px;
    color: LavenderBlush;
}
header{
    background-color: DarkSlateBlue;
    font-family: Sysfont;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
